doctype html
html(lang=fr)
  head
    title Exemple de gabarit
    meta(charset="UTF-8")
  body
    h1 Connexion réussie
    p Bonjour #{username}.
    if firstTime
      p Bienvenue !
    else
      p Ravi de vous revoir.
