doctype html
html(lang=fr)
    head
        title User list
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    body.ui.container
    table.ui.collapsing.table
        thead
            tr
                th Username
                th Administrator
                th
        tbody
            each user in users
                tr
                    td #{user.username}
                    td
                        if user.admin
                            i.check.icon

                    td
                        i.trash.alternate.icon
        tr
            form(id="newUser", action="/addUser", method="GET")
                td
                    div.ui.input
                        input(id="username" type="text" name="username" placeholder="Enter new username")
                td
                    div.ui.checkbox
                        input(id="admin" type="checkbox" name="admin")
                        label administrator
                td
                    input.ui.primary.button(type="submit" value="Insert")
    script.
        $("#newUser").submit((event) => {
            event.preventDefault()
            let user = {username: $("#username").val(), admin: $("#admin").is(':checked')}
            $.ajax({
                type: 'POST',
                url: 'testAdd',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: (data) => {
                    if (data.status === 0) location.reload()
                },
                error: () => console.log('something wrong happened')
            })
        })
