doctype html
html(lang=fr)
    head
        title Users in database
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    body(class="ui container")
        div(class="ui segment")
            table(class= "ui definition collapsing table" )
                tbody
                    tr
                        td
                            i.trash.alternate.icon
                    tr
                        td Poid
